<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="Small">
        
        <setting label="2 Small Steps (minutes)" type="slider" id="2s" default="3" range="1,90" option="int" />
        <setting label="3 Small Steps" type="slider" id="3s" default="10" range="1,90" option="int" />
        <setting label="4 Small Steps" type="slider" id="4s" default="30" range="1,90" option="int" />
        <setting label="5 Small Steps" type="slider" id="5s" default="60" range="1,90" option="int" />
        
        <setting label="2 Big Steps" type="slider" id="2b" default="3" range="1,90" option="int" />
        <setting label="3 Big Steps" type="slider" id="3b" default="10" range="1,90" option="int" />
        <setting label="4 Big Steps" type="slider" id="4b" default="30" range="1,90" option="int" />
        <setting label="5 Big Steps" type="slider" id="5b" default="60" range="1,90" option="int" />

        <setting label="Max time between clicks" type="slider" id="maxt"  default="0.5" range="0,3" option="float"/>
        <setting label="Delay before activating" type="slider" id="delay" default="1.0" range="0,3" option="float"/>
        <setting label="Enable Debug Logging" type="bool" id="logging" default="true"/>

    </category> 

</settings>
